<nav class="navbar bg-primary navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Job Site</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          {% if request.user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register-applicant' %}">Register Applicant</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register-recruiter' %}">Register Recruiter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          {% else %}
          <!-- <li class="nav-item">
            <a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
          </li>
          -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            {% endif %}
          {% if request.user.is_recruiter %}
            {% if request.user.has_company %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create-job' %}">Create Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'manage-jobs' %}">Manage Jobs</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'update-company' %}">Create Company</a>
            </li>
            {% endif %}
          {% endif %}

            {% if request.user.is_applicant %}
                <!-- <li class="nav-item">
                  <a class="nav-link" href="{% url 'job-listing' %}">Job Listing</a>
                </li> -->
                {% if request.user.has_resume %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'job-listing' %}">Apply to Jobs</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'update-resume' %}">Create Resume</a>
                </li>
                {% endif %}
            {% endif %}
          

        </ul>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
        </li>
        {% endif %}
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>