{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
{% include 'navbar.html' %}
<div class="container-sm">
    {% include 'messages.html' %}
    <h2 style="display: flex; justify-content: center;" >Create a Job Ad</h2>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Job Title</label>
        {% render_field form.title class="form-control" %}
    </div>   
    <div class="mb-3">
        <label class="form-label">City</label>
        {% render_field form.city class="form-control" %}
    </div>
    <div class="mb-3">
        <label class="form-label">Province</label>
        {% render_field form.province class="form-control" %}
    </div>
    <div class="mb-3">
        <label class="form-label">Industry</label>
        {% render_field form.industry class="form-control" %}
    </div>
    <div class="mb-3">
        <label class="form-label">Job Type</label>
        {% render_field form.job_type class="form-control" %}
    </div>
    <div class="mb-3">
        <label class="form-label">Salary</label>
        {% render_field form.salary class="form-control" %}
    </div>
    <div class="mb-3">
        <label class="form-label">Job Requirements</label>
        {% render_field form.requirements|attr:"rows:2" class="form-control" %}
    </div>
    <div class="mb-3">
        <label class="form-label">Required Skills</label>
        {% render_field form.required_skills|attr:"rows:2" class="form-control" %}
    </div>
    <div class="mb-3">
        <label class="form-label">Ideal candidate</label>
        {% render_field form.ideal_candidate|attr:"rows:2" class="form-control" %}
    </div>
    <div class="mb-3">
        <label class="form-label">Is available?</label>
        {% render_field form.is_available class="form-check-input" %}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>


{% endblock content %}